<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLAzure" value="Server=tcp:{your_sqlazure_server_here}.database.windows.net,1433;Database=bluedb;User ID={your_username_here}@{your_sqlazure_server_here};Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>